<div class="container">
  <div class="page-header">
    <h1>
      Attendance History
    </h1>
  </div>
  <table class="table">
    <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Date</th>
      <th scope="col">Status</th>
    </tr>
    </thead>
    <% count = 1 %>
    <% @attendance_history.each do |attendance| %>
      <tbody>
      <tr>
        <th><%= count%></th>
        <td><%= attendance.date.strftime("%d/%m/%y") %></td>
        <td><% if attendance.value == 't' %>
            Present<br>
          <% else %>
            Absent<br>
          <% end %></td>
        <% count = count+1 %>
      </tr>
      </tbody>
    <% end %>
  </table>
</div>